.innerLink {
  padding-left: 0;
  border-left: 0.2em solid #4a6cf7;
}

.innerLink li {
  list-style: none;
  margin: 0.0em 0;
  margin-left: -0.2em;
}

.innerLink li.h3 {
  margin-left: 0.8em;
  font-size: 0.9em;
}

.innerLink a {
  /* color: #666; */
  /* text-decoration: none; */
  margin-left: 0.8em;
}

/* .innerLink a.active {
  text-decoration: underline;
} */
